
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */

img {
    max-width: 100%;
    height: auto;
}

/*TEXT STYLE*/

body { 
  font-family: 'Open Sans Condensed', sans-serif;
}

header {
  background-image: url(../img/books-bay.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 30px;
}

h1 { 
  font-family: 'Neuton', serif;
  font-size: 90px;
  color: #286da8;
}

.intro {
  text-align: center;
  padding: 60px 30px 200px 30px;
}

.subtitle {
  text-align: center;
  font-size: 35px;
  color: #cd5360;
}

/*ARROW*/

.arrow {
  padding-top: 20px;
  border-style: none;
  width: 30px;
  margin: 0 auto;
}

/*QUESTIONS*/

.question-set {
  font-size: 25px;
  position: relative;
  width: 100%;
  padding-top: 200px;
  padding-left: 250px;
  padding-bottom: 400px;
  color: #cd5360;
  display: inline-block;
}

.question {
  display: none;
  width: 100%;
  clear:both;
}

.question:first-of-type {
  display: block;
}

.question-content {
  float: left;
}

.question .dropdown {
  float: left;
  margin: 15px;
  position: relative;
  display: inline-block;
  min-width: 140px;
}

.dropdown .select-button {
    background-color: #f5bac6;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px 8px;
}


/*BOOKSTORES*/

.bookstore-set {
  position: relative;
  text-align: center;
  clear: both;
  display: none;
  width: 100%;
  margin-bottom: 70px;
  margin-top:800px; 
}

.bookstore {
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

/*RECOMMENDATION INFO*/

.check-out {
  font-size: 40px;
  text-transform: uppercase;
  color: #b37d4e;
  margin-bottom: 10px;
}

.info-buttons {
  background: none;
  margin: 8px 20px 50px 8px;
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 5px;
  border: solid #cd5360;
  outline: none;
  display: inline-flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #cd5360;
}

.try-again {
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0 auto;
  padding:10px;
  font-size: 15px;
  color: #b37d4e;
  display: block;
  border: none;
  background: none;
}

/*FOOTER*/

footer {
  padding: 35px;
  margin-top: 15px;
  text-align: center;
  color: #286da8;
}

hr {
  border: 1px solid #286da8;
}

/*ANIMATIONS*/

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-10px);
  }
}










